@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* NAVBAR CSS */

:root {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #29f8fe;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  filter: grayscale(100%) opacity(0.7);
  transition: 400ms ease;
}

.logo {
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo-text {
  display: none;
  margin-left: 1rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.material-symbols-outlined {
  font-size: 4rem;
  margin: 0 0.5rem;
  color: #29f8fe;
}

a {
  text-decoration: none;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  transition: var(--transition-speed) ease;
}

/* SIDE BAR AND NOTEBOOK/NOTES CSS */

.add-notebook input[type='text'] {
  margin-right: 5px;
  padding: 5px;
}

.notebook-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.notebook-list .notebook {
  margin-bottom: 10px;
}

.notebook-list .notebook > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
}

.notebook-list .notebook > a:hover {
  background-color: #eaeaea;
}

.note-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
  margin-left: 10px;
}

.note-list li {
  margin-bottom: 3px;
}

.note-list a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.note-list a:hover {
  background-color: #eaeaea;
}

.add-notebook-btn {
  margin-left: 5px;
}
/* hides note list when clicking on corresponding notebook */
.note-list.hidden {
  display: none;
}

/* BODY CSS */

#note-name {
  text-align: center;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

button {
  background-color: #9a9a9d;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background-color 400ms ease;
}

button:hover {
  background-color: #29f8fe;
  transition: var(--transition-speed) ease;
}

/* EDITOR/MAIN CSS */

main {
  padding: 1rem;
}

.editorButton {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.editor-container {
  padding-left: 20px;
}
.editor-form {
  margin: 10px 0;
}
.editor-form button {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.editor-content {
  margin-right: 20px; /* Add this */
  border: 1px solid #111;
  border-radius: 5px;
  padding: 20px;
}
.editor-form button.active {
  border: 1px solid #29f8fe;
  background-color: #29f8fe;
}

/* SMALL SCREENS CSS */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  .sidebar {
    width: 11rem;
    height: 100vh;
    background-color: var(--bg-secondary);
    float: left;
    padding: 10px;
    margin-left: 0rem;
  }
  main {
    margin-left: 12rem;
  }
}

/* LARGE SCREENS CSS */
@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 17rem;
  }
  .navbar:hover .link-text {
    display: block;
    opacity: 1;
  }
  .navbar:hover .logo-text {
    display: block;
  }
  .nav-item:nth-child(-n + 5) {
    margin-top: 30px;
  }

  .nav-item:last-child {
    margin-top: auto;
  }
  .main {
    margin: 0;
  }
  .sidebar {
    width: 11rem;
    height: 100vh;
    background-color: var(--bg-secondary);
    float: left;
    padding: 10px;
    margin-left: 5rem;
  }
  main {
    margin-left: 17rem;
  }
}
